.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-background {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  opacity: 25%;
}

.cocktail-container {
  display:flex;
  position: absolute;

  width: 1000px;
  height: 500px;

  background-color: white;
  box-shadow: 0 0 15px darkgrey;

  .cocktail-image {
    min-width: 500px;
    min-height: 500px;
    background-position: center;
    background-size: cover;
  }

  .cocktail-infos {
    flex-grow: 1;
    padding: 15px;
    position: relative;

    h1 {
      font-size: 40px;
      color: black;
    }

    h3 {
      font-size: 18px;
      text-align: center;
    }

    li {
      font-size: 16px;
    }

    .cocktail-actions {
      // width: 100%;
      position: absolute;
      bottom: 0px;
      left: 0;
    }
  }
}

.actions {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}
