.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cocktail-background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  opacity: 25%;
}

.cocktail-container {
  display:flex;
  position: absolute;

  width: 1000px;
  height: 500px;

  background-color: white;
  box-shadow: 0 0 15px darkgrey;

  .cocktail-infos {
    flex-grow: 1;
    padding: 15px;

    h1 {
      color: black;
    }
  }
}
